@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1480px){

}
@media screen and (max-width: 1280px){
    .banner_text{
        font-size: 30px
    }
    #product p{
        font-size: 12px;
    }
    #Logo{
        width: 75%;        
    }    
}
@media screen and (max-width: 1024px){
    #links a{
        font-size: 12px;
    }
    #But_dow_span{
        font-size: 15px;
    }
    
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        font-size: 22px;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: 135px
    }
    
    .topnav.responsive a.icon{
        position: absolute;
        top:-50px;
        right: 135px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: center;
    }
    .search-txt{
        width: 290px;
    }
    .img_search{
        position: absolute;
        padding-left: 270px;
    }
    #Main_activ h1{
        font-size: 50px;
    }
    #product p{
        font-size: 15px;
    }
    #VisImg{
        width: 85%;
        display: block;
        margin: 0 auto;
    }
    #headers{
        height: 650px;
    }
    #banner{
        margin-top: 15%;
    }
    #about_tomato h1{
        font-size: 45px;
    }
    #about_tomato h2{
        font-size: 40px;
    }

    .mainnav a{
        display: none;
    }
    .mainnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        font-size: 22px;
    }
    .mainnav.responsive{
        position: relative;
        top: 50px;
        left: -135px
    }
    
    .mainnav.responsive a.icon{
        position: absolute;
        top:-50px;
        right: -135px;
    }
    .mainnav.responsive a{
        float: none;
        display: block;
        text-align: center;
    }
    .mainnav.responsive{
        height: 200px;
    }
    
}
@media screen and (max-width: 768px){
    #headers{
        height: 500px;
    }
    #Vision_Mission{
        padding: 0 60px;
    }
    #Vision_Mission h1{        
        text-align: center;
        font-size: 40px;
    }
    #Visinfo{        
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
    }
    #Vismark{
        text-align: center;
        font-size: 10px;
    }
    #Misinfo{        
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
    }
    #Mismark{
        text-align: center;
        font-size: 10px;
    }
    #Mission{
        margin-top: 10%;
    }
    .Agr_Img{
        width: 200px;
        height: 170px;
    }
    .Agr_name{
        font-size: 20px;
        padding-bottom: 15px;
    }
    .Agr_info{
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    #links a{
        font-size: 16px;
    }
    #social img{
        margin-top: 10px;
    }
    #Main_activ h1{
        padding-top: 50px;
        font-size: 35px;
    }

    .topnav.responsive{
        position: relative;
        top: 50px;
        left: 125px
    }
  
    .topnav.responsive a.icon{
        position: absolute;
        top:-18px;
        right: 145px;
    }
    .mainnav.responsive{
        
        left: -100px
    }
    .mainnav.responsive a.icon{
        
        right: -100px;
    }
    #tomato_main h1{
        font-size: 30px;
        text-align: center;
    }
    #Vismark{
        font-size: 10px;
        margin-top: 10px;
    }
    #tomato_main p{
        font-size: 14px;
    }
    .about_tomato h2{
        font-size: 16px;
    }
    #about_tomato h1{
        font-size: 30px;
        text-align: center;
    }
    #about_tomato h2{
        font-size: 25px;
        text-align: center;
    }
    .Red_Marker_Text{
        font-size: 20px;
    }
    #Info_Tomato h4{
        font-size: 15px;
    }
    #Info_Tomato p{
        padding: 10px 0;
        font-size: 13px;
    }
    .Red_Marker_IMG{
        vertical-align: middle;
    }
    #Info_Tomato ul{
        padding: 10px 0;
    }
    #Info_Tomato li{
        font-size: 13px;
    }
    #Info_Tomato text{
        font-size: 13px;
    }
    #But_dow_span{
        font-size: 11px;
    }
    #button_download{
        width: 170px;
        
    }
    #button_download img{
        width: 25px;
        padding: 0;
        padding-right: 10px;
    }
    .captcha img{
        width: 200%;
    }
    #contact_info h1{
        text-align: center;
    }
    .captcha button{
        font-size: 12px;
    }
}
@media screen and (max-width: 640px){
    .about_tomato h2{
        text-align: center;
    }
    #tomato_main p{
        text-align: center;
    }
    #tomato_main h1{
        font-size: 24px;
    }
    .AGRIDERA_menu{
        display: block;
        width: 65%;
    }
    #search-box{
        margin-top: 20px;
        text-align: center;
    }
    .search-txt{
        width: 400px;
    }
    .img_search{
        padding-left: 380px;
    }
    .mainnav a.icon{
        position: relative;
        top: -35px;
    }
    .topnav.responsive{
        position: relative;
        top: 18px;
        left: 0px
    }
    .topnav.responsive a.icon{
        position: absolute;
        top:-18px;
        right: 0px;
    }
    .mainnav.responsive{
        
        left: 0px
    }
    .mainnav.responsive a.icon{
        top: -85px;
        right: 0px;
    }
    #img_tomato_sorts span{
        top:75%;
    }
    .Red_Marker_Text{
        font-size: 25px;
    }
    .about_TAG_IMG{
        display: block;
        margin: 0 auto;
        width: 75%;
    }
    #button_download{
        width: 300px;
        text-align: center;
    }
    #down_but{
        text-align: center;
    }
    #But_dow_span{
        font-size: 17px;
    }
    #button_download img{
        width: 35px;
        margin-right: 30px;
    }
    #Info_Tomato h4{
        text-align: center;
    }
    #links{
        padding: 15px 0;
    }
    #social {
        padding: 10px 0;
    }
    .captcha img{
        width: 30%;
        display: block;
        margin: 0 auto;
    }
    .captcha button{
        margin-top: 20px;
    }
    #headers{
        height: 700px;
    }
    #Logo {
        width: 50%;
    }
    .banner_button{
        margin-top: 20px;
    }
    .topnav a.icon{
        float: right;
        margin-top: -51px;
        display: block;
        font-size: 22px;
    }
    #Visinfo{
        padding-bottom: 10px;
    }
    #VisImg{
        width: 60%;
    }
    #Mismark{
        margin-top: 10px;
    }
}
@media screen and (max-width: 480px){
    .search-txt{
        width: 350px;
    }
    .img_search {
        padding-left: 330px;
    }
    #links{
        display: grid;
    }
    #links a{
        padding: 3px 0;
    }

    .topnav.responsive{
        position: relative;
        top: 18px;
        left: 10px
    }
    .topnav.responsive a.icon{
        position: absolute;
        top:-18px;
        right: -10px;
    }
    .topnav a.icon{
        position: relative;
        top:0px;
        font-size: 22px;
        right: -20px;
    }
    .banner_text{
        font-size: 25px;
    }
    .banner_button{
        width: 140px;
        height: 45px;
    }
    #VisImg{
        width: 80%;
    }
}
@media screen and (max-width: 400px){
    .search-txt{
        width: 280px;
    }
    .img_search{
        padding-left: 260px;
    }
    .Red_Marker_Text{
        font-size: 20px;
    }
    #VisImg{
        width: 100%;
    }
    #Main_activ h1{
        font-size: 28px;
    }
    #Vision_Mission h1{
        font-size: 32px;
    }
    #Visinfo {
        font-size: 14px;
    }
}
@media screen and (max-width: 320px){
    .search-txt{
        width: 220px;
    }
    .img_search{
        padding-left: 200px;
    }
    .copy{
        font-size: 10px;
    }
    #tomato_main p{
        font-size: 10px;
    }
    #img_tomato_sorts h3{
        font-size: 14px;
    }
    .Red_Marker_Text{
        font-size: 12px;
    }
    #about_tomato h1{
        font-size: 20px;
    }
    #about_tomato h2{
        font-size: 18px;
    }
    #Vismark{
        font-size: 8px;
    }
    #Info_Tomato h4{
        font-size: 12px;
    }
    #Info_Tomato p{
        font-size: 10px;
    }
    #Info_Tomato text{
        font-size: 10px;
    }
    #Info_Tomato li{
        font-size: 10px;
    }
    #button_download{
        width: 250px;
    }
    #links a{
        font-size: 12px;
    }
    #social{
        display: grid;
    }
    #our_address h1{
        font-size: 12px;
    }
    #our_address p{
        font-size: 10px;
    }
    #contact_info h1{
        font-size: 30px;
    }
    .contact_question h2{
        font-size: 13px;
    }
    #Logo{
        width: 70%;
    }
    #Main_activ h1{
        font-size: 20px;
    }
    .Agr_name{
        font-size: 14px;
    }
    .Agr_info{
        font-size: 12px;
    }
    #Misinfo{
        font-size: 12px;
    }
    #Visinfo{
        font-size: 12px;
    }
    #Vision_Mission h1{
        font-size: 24px;
    }
    #product p{
        font-size: 12px;
    }
    #navig a{
        font-size: 16px;
    }

    .topnav.responsive{
        position: relative;
        top: 18px;
        left: 10px
    }
    .topnav.responsive a.icon{
        position: absolute;
        top:-18px;
        right: -10px;
    }
    .topnav a.icon{
        position: relative;
        top:0px;
        font-size: 22px;
        right: -20px;
    }
    .banner_text{
        font-size: 14px;
    }
    .banner_button{
        font-size: 12px;
        width: 110px;
        height: 35px;
    }
    #headers {
        height: 600px;
    }
    #product img{
        height: 40px;
    }
    
    
}