@font-face{
    font-family: 'RobotoSlab-Regular';
    src: url('../fonts/RobotoSlab-Regular.svg') format('svg'),
         url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
         url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: RobotoSlab-Regular;
    background: #E5E5E5;
    color: #324950;
}

#headers{
    height: 850px;    
    background: url('../img/bg.png') no-repeat;
    background-position: center;
    background-size:auto;
}

header{
    padding-top:20px;
}

#Logo{
    width: 100%;
    display: block;
    margin:0 auto;
    margin-bottom: 20px;
}

#search-box{
    text-align: right;
    height: 29px;
    
}

.search-txt{
    width: 350px;
    border:none;
    background: none;
    text-align: left;
    border-bottom: 1px solid #324950;
}

#navig{
    margin-top:20px;
    text-align: right;
}

#navig a{
    color: #324950;
    padding: 0 3px;
    text-decoration: none;
}

.topnav .icon{
    display: none;
}

.mainnav .icon{
    display: none;
}

.img_search{
    position: absolute;
    padding-left: 330px;
}

#banner{
    margin-top: 25%;    
    text-align: center;    
}

.banner_text{
    font-size: 48px;
    color: #735440;
    font-weight: bold;
}
.banner_button{
    margin-top:40px;
    width: 160px;
    height: 55px;
    color: white;
    font-size: 15px;
    border: none;
    background: #57984C;
    font-weight: normal;
    
}

#product{
    background: #fff;
    text-align: center;
    vertical-align:middle;
    padding: 43px 0;
}

#product p{
    margin-top: 20px;
    font-size: 20px;
}

#product img{
    height: 55px;
}

#product a{
    
    color: #324950;
}

#Vision_Mission{
    margin: 50px 0;
    background: url('../img/Visionbg.png') no-repeat ;
    background-position: center;
    
}

#VScon{
    margin:50px auto;
    padding: 0;
    text-align: left;
}

#VScon h1{
    font-size: 64px;
    font-weight: bold;
    color: #324950;
    margin-top: 10px;
}

#Vismark{
    margin-top: 25px;
    color: #57984C;
    font-size: 12px;
    font-weight: bold;
}

#Visinfo{
    font-size: 20px;
    margin-top: 25px;
    font-weight: normal;
    color: #324950;
    margin-right: 60px;
}

#VisImg{
    width: 100%;
}

#Mission{
    margin-top:100px;
}

#Mission h1{
    margin-left:10px;
}
#Mismark{
    margin-top: 25px;
    color: #57984C;
    font-size: 12px;
    font-weight: bold;
    margin-left:10px;
}
#Misinfo{
    font-size: 20px;
    margin-top: 25px;
    font-weight: normal;
    color: #324950;
    margin-left:10px;
}


#Main_activ h1{
    padding-top:100px;
    color: #324950;
    font-size: 64px;    
    font-weight: bold;
    text-align: center;
}

#Main_activ p{
    color: #57984C;
    font-size: 12px;  
    font-weight: bold;
    text-align: center;
}

.Agr_name{
    color: #57984C;
    border-bottom: 1px solid #57984C;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 30px;
}

.Agr_info{
    color: #324950;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 75px;
}

.Agr_Img{
    height: 210px;
    width: 290px;
    display: block;
    margin: 0 auto;
}

#copy_footer{
    background: #324950;
}

.copy{
    padding-top: 20px;
    font-size: 14px;
    color: #B9B9B9;
    text-align: center;
}

#link_footer{
    text-align: center;
    background: #2D3F45;
}


#links{
    padding: 25px 0;    
}

#links a{
    text-decoration: none;
    color:white;
    padding: 0 10px;
    font-size: 16px;    
}

#social{
    padding:20px 0;
}

#social a{
    padding: 0 5px;
}

#social img{
    height: 32px;
    width: 32px;
}

.nav_menu{
    font-size: 18px;
}

.tomato_bg{
    width: 100%;
}

.header_tomato{
    padding: 0;
    margin: 0;
}

#white_menu{
    background: #fff;
    padding: 20px 0;
}

.AGRIDERA_menu{
    margin: 0 auto;
    width: 100%;
}

#tomato_main p{
    font-size: 17px;
}

#tomato_main h1{
    font-size: 44px;
    font-weight: bold;
}

#tomato_main{
    padding-top: 50px;
}

.info_p{
    padding: 5px 0px 5px 30px;
    border-left: 3px solid #EB5757 ;
}

.about_tomato{
    background: #fff;
    padding: 30px 20px;
}
.about_tomato h2{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #324950;
}

#img_tomato_sorts {
    position: relative;   
    padding: 30px 10px; 
}

#img_tomato_sorts img{
    width: 100%;
}
#img_tomato_sorts span{
    position: absolute;
    top: 70%;
    left: 10px;
    right: 10px;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    padding: 10px;
}

#img_tomato_sorts h3{
    color: #57984C;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#img_tomato_sorts p{
    color: #57984C;
    font-size:14px;
    text-align: center;
}

.go_back{
    color: #57984C;
    font-size: 14px;
    padding: 20px 0;
}

#about_tomato h1{    
    color: #324950;
    font-size: 54px;
    font-weight: bold;
}

#about_tomato h2{    
    color: #57984C;
    font-size: 44px;
    font-weight: bold;
}

.Red_Marker_IMG{
    margin: 0 auto;
    width: 100%;
}

.Red_Marker_Text{
    color: #CF2333;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
}

#Info_Tomato{
    padding-top: 20px;
}

#Info_Tomato h4{
    color: #57984C;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #57984C;
}

#Info_Tomato p{
    padding: 20px 0;
    color: #324950;
    font-size: 17px;
}

#Info_Tomato ul{
    padding: 20px 0;
    list-style-position:inside;
}

#Info_Tomato li{
    color: #57984C;
    font-size: 17px;
}

#Info_Tomato span{
    font-size: 17px;
    color: #324950;
}

.about_TAG_IMG{
    margin: 0 auto;
    width: 100%;
}

#button_download{
    background: none;
    border: 1px solid #57984C;
    padding: 10px 20px;
    margin:20px 0;
    text-align: right;
    border-radius: 40px;
    vertical-align: middle;
}

#button_download img{
    width: 60px;
    padding: 0 20px;
    margin: 0 auto;
    vertical-align: middle;
}

#But_dow_span{
    color: #57984C;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

.About_Tag_Main{
    background: url('../img/AboutTomatoBG.png') no-repeat  #F7F7F7;
    background-position: center;
    padding-bottom: 50px;
}

.img_style{
    margin: 0 auto;
    width: 100%;
}

#contact_info{
    background: #E5E5E5;
    padding: 30px 0;
}

#about_us{
    background: #fff;
    text-align: center;
    padding: 25px 0;
}

#our_address h1{
    color: #57984C;
    padding: 10px 30px;
    border-bottom: 1px solid #57984C;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

#our_address p{
    font-size: 17px;
    color: #324950;
    padding-top: 10px;
}

.contact_question h2{
    font-size: 17px;
    font-weight: normal;
    color: #324950;
    padding: 25px 0 5px 0;
}

.contact_question input{
    background: #fff;
    border: 1px solid #DADADA; 
    border-radius: 10px;
    width: 100%;
    height: 55px;
    padding: 0 20px 0 20px;
}

#contact_info h1{
    color: #324950;
    font-size: 44px;
    font-weight: bold;
}

.contact_select h2{
    font-size: 17px;
    font-weight: normal;
    color: #324950;
    padding: 25px 0 5px 0;
}

.contact_select select{
    background: #fff;
    border: 1px solid #DADADA; 
    border-radius: 10px;
    width: 100%;
    height: 55px;
    color: #324950;
    font-size: 17px;
    padding: 0 20px 0 10px;
    
}

.contact_long_question h2{
    font-size: 17px;
    font-weight: normal;
    color: #324950;
    padding: 25px 0 5px 0;
}

.contact_long_question textarea{
    background: #fff;
    border: 1px solid #DADADA; 
    border-radius: 10px;
    width: 100%;
    height: 390px;
    padding: 10px 20px;
}

.captcha h2{
    font-size: 17px;
    font-weight: normal;
    color: #324950;
    padding: 25px 0 5px 0;
}

.captcha img{
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
    padding-top: 12px;    
}

.captcha input{
    background: #fff;
    border: 1px solid #DADADA; 
    border-radius: 10px;
    width: 100%;
    height: 55px;
    padding: 0 20px 0 20px;
}

.captcha button{
    width: 100%;
    height: 55px;
    background: #57984C;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    
}

.LemonList{
    text-align: center;
}
.LemonCards{
    background: #fff;    
    margin: 10px 0;
}
.LemonImg{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}
.LemonInfo{
    padding: 10px 0;
}

.LemonInfo h3{
    color: #57984C;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.LemonInfo p{
    color: #57984C;
    font-size:14px;
    text-align: center;
}

.LemonAll{
    padding: 50px 0;
}

.AboutLemon{
    display: flex;
}

.carts{
    width: 80%;
    text-align: center;    
    margin: 0 auto;
    border: 1px #324950;
    border-collapse: collapse;
}

.carts td,tr{
    border: 1px solid #324950;
    width: 50px;
}

.mini_icon{
    width: 80px;
    padding: 10px 0;
}

.carts a{
    color:#CF2333;
    font-size: 30px;
    text-decoration: none;
}


.random {	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 74vh;
	margin: 0;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons button {
	background-color: #324950;
	border: 0;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

.country{
    margin: 20px 50px;
}

.cntr{
    margin-left:50px;
}

.subscribe-for-push{
    margin-top:40px;
    width: 250px;
    height: 55px;
    color: white;
    font-size: 15px;
    border: none;
    background: #57984C;
    font-weight: normal;
}