<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>AGRIDERA</title>
</head>
<body >
    
    <header class="header_tomato">
        <div class="container-fluid" id="white_menu">            
            <div class="container" >
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/Logo.png" alt="Logo_White_menu" class="AGRIDERA_menu">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12" id="search-box">
                                <a href=""><img src="img/ico_search.png" alt="search" class="img_search"></a>
                                <input type="text" class="search-txt">
                            </div>
                            <div class="col-md-12" id="navig">
                                <div class="mainnav" id="myMainnav">
                                    <a href="index.html" class="nav_menu">Home</a>
                                    <a href="LINK" class="nav_menu">Company Profile</a>
                                    <a href="tomatoall.html" class="nav_menu">Product</a>
                                    <a href="LINK" class="nav_menu">Services</a>
                                    <a href="lemonall(var16).html" class="nav_menu">R & D</a>
                                    <a href="contactus.html" class="nav_menu">Contact</a>
                                    <a href="#" class="icon" id="menu">&#9776;</a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>                
            </div>               
        </div>
        <img src="img/contact_bg.jpg" alt="" class="img_style">
    </header>

    <main>
              
        <div class="container-fluid" id="contact_info">
            <div class="container" id='LemonCD'>
                
                <h1>Contact us</h1>
                <p id="Vismark"> × × × × ×</p>

                <table class="carts">
                    <tr>
                        <td>Изображение</td>
                        <td>Название</td>
                        <td>Описание</td>
                        <td></td>                           
                    </tr>
                    <tr v-for="l in carts">
                        <td><img class="mini_icon" :src="'img/'+l.img" alt=""></td>
                        <td>{{l.title}}</td>
                        <td >{{l.short_text}}</td>
                        <td class="dell_x" > <a href="#" @click.prevent="RemoveFromCarts(l.id)">x</a>  </td>
                    </tr>
                </table>

                <form action="">
                <div class="row" >
                    <div class="col-md-4">
                        <div class="contact_question">
                            <h2>Name *</h2>
                            <input type="text"v-model="contactFields.name" required >
                        </div>
                        <div class="contact_question">
                            <h2>Company Name</h2>
                            <input type="text" v-model="contactFields.name">
                        </div>
                        <div class="contact_question">
                            <h2>Position</h2>
                            <input type="text" v-model="contactFields.position">
                        </div>
                        <div class="contact_question">
                            <h2>City</h2>
                            <input type="text" v-model="contactFields.city">
                        </div>
                        <div class="contact_question"> 
                            <h2>Country</h2>
                            <input type="text" v-model="contactFields.country">
                        </div>
                        <div class="contact_question">
                            <h2>Telephone</h2>
                            <input type="text" v-model="contactFields.telephone">
                        </div>
                        <div class="contact_question">
                            <h2>Email *</h2>
                            <input type="text" required v-model="contactFields.email">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <div class="contact_select">
                            <h2>You are a</h2>
                            <select name="select" size="1" v-model="contactFields.works">
                                <option value="s1">seed producer</option>
                                <option value="s2">advertiser</option>
                                <option value="s3">customer</option>
                            </select>
                        </div>
                        <div class="contact_question" >
                            <h2>If other, please specify</h2>
                            <input type="text" v-model="contactFields.works_other">
                        </div>
                        <div class="contact_long_question">
                            <h2>You are interested in</h2>
                            <textarea name="" id="" cols="30" rows="15" v-model="contactFields.interested"></textarea>
                        </div>
                        
                        <div class="captcha">
                            <h2>Please type this code</h2>
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="img/captcha.png" alt="">
                                </div>
                                <div class="col-md-5">
                                    <input type="text" required >
                                </div>
                                <div class="col-md-5">
                                    <button @click.prevent="makeOrder()">Send Message</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </form>
                <br>
            </div>
        </div>
            
        <div class="container-fluid" id="about_us">
            <div class="container">
                <div class="row" >
                    <div class="col-md-12" id="our_address">
                        <h1>Our Address</h1>
                        <p>AGRIDERA Seeds & Agriculture Ltd. <br> P.O Box 103, <br> Gedera 70750, Israel. <br> Telephone: <font color="#57984C">+972 8 944 9222</font></p>
                    </div>                
                </div>
            </div>
        </div>            
        
    </main>



    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" id="link_footer">
                    
                    <div class="container">
                    <div class="row">
                        <div class="col-md-7" id="links">
                            <a href="PROFILE" class="links_menu">PROFILE</a>
                            <a href="MANAGEMENT" class="links_menu">MANAGEMENT</a>
                            <a href="tomatoall.html" class="links_menu">PRODUCTS</a>
                            <a href="lemonall(var16).html" class="links_menu">R&S</a>
                            <a href="LINKS" class="links_menu">LINKS</a>
                            <a href="SITEMAP" class="links_menu">SITEMAP</a>
                            <a href="contactus.html" class="links_menu">CONTACT</a>
                        </div>
                        <div class="col-md-5" id="social">
                            <a href="https://gufo.me/dict/ruuk" class="social"><img src="img/Ico_in.png" alt=""></a>
                            <a href="https://instagram.com" class="social"><img src="img/Ico_inst.png" alt=""></a>
                            <a href="https://youtube.com" class="social"><img src="img/Ico_tube.png" alt=""></a>
                            <a href="https://twitter.com" class="social"><img src="img/Ico_tw.png" alt=""></a>
                            <a href="https://facebook.com" class="social"><img src="img/Ico_fb.png" alt=""></a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-12" id="copy_footer">
                    <p class="copy">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script src="js/script2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"> </script>
</body>
</html>