<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>AGRIDERA</title>
</head>

<body>
    
<header class="header_tomato">
        <div class="container-fluid" id="white_menu">            
            <div class="container" >
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/Logo.png" alt="Logo_White_menu" class="AGRIDERA_menu">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12" id="search-box">
                                <a href=""><img src="img/ico_search.png" alt="search" class="img_search"></a>
                                <input type="text" class="search-txt">
                            </div>
                            
                                <div class="col-md-12" id="navig">
                                    <div class="mainnav" id="myMainnav">
                                        <a href="index.html" class="nav_menu">Home</a>
                                        <a href="LINK" class="nav_menu">Company Profile</a>
                                        <a href="tomatoall.html" class="nav_menu">Product</a>
                                        <a href="LINK" class="nav_menu">Services</a>
                                        <a href="lemonall(var16).html" class="nav_menu">R & D</a>
                                        <a href="contactus.html" class="nav_menu">Contact</a>
                                        <a href="#" class="icon" id="menu">&#9776;</a>
                                    </div>
                                </div>
                            
                        </div>
                    </div>                    
                </div>                
            </div>               
        </div>
        
</header>

<main class="About_Tag_Main" >
    <div class="container"  >
        
        <a href="lemonall(var16).html"> <p class="go_back"> ← Return to all lemons</p></a>
   
        <div class="row" id="LemonCD">
            <div class="AboutLemon col-md-12">
                
                <div class="col-md-6" id="about_tomato">
                    <h1>{{ lemon.title }}</h1>
                    <h2>{{ lemon.short_text }}</h2>
                    <p id="Vismark"> × × × × ×</p>
                    <div class="row">
                        <div class="col-md-6" id="down_but">
                            <a href="#" @click.prevent="addToCarts(lemon.id)" v-if="!btnVisible">
                                <button id="button_download">
                                    <img src="img/ico_pdf.png" alt="">
                                    <span id="But_dow_span"> Add to cart</span>
                                </button>
                            </a>
                        </div>
                        <div class="col-md-6" id="down_but">
                            <a href="contactus.html" v-if="btnVisible">
                                <button id="button_download" >
                                    <img src="img/ico_pdf.png" alt="">
                                    <span id="But_dow_span"> Go to cart</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" id="Info_Tomato">
                <img :src="'img/'+lemon.img" alt="" class="about_TAG_IMG">

                </div>
            </div>
        </div>
    


    </div>
</main>

<footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" id="link_footer">
                    
                    <div class="container">
                    <div class="row">
                        <div class="col-md-7" id="links">
                            <a href="PROFILE" class="links_menu">PROFILE</a>
                            <a href="MANAGEMENT" class="links_menu">MANAGEMENT</a>
                            <a href="tomatoall.html" class="links_menu">PRODUCTS</a>
                            <a href="lemonall(var16).html" class="links_menu">R&S</a>
                            <a href="LINKS" class="links_menu">LINKS</a>
                            <a href="SITEMAP" class="links_menu">SITEMAP</a>
                            <a href="contactus.html" class="links_menu">CONTAC</a>
                        </div>
                        <div class="col-md-5" id="social">
                            <a href="https://gufo.me/dict/ruuk" class="social"><img src="img/Ico_in.png" alt=""></a>
                            <a href="https://instagram.com" class="social"><img src="img/Ico_inst.png" alt=""></a>
                            <a href="https://youtube.com" class="social"><img src="img/Ico_tube.png" alt=""></a>
                            <a href="https://twitter.com" class="social"><img src="img/Ico_tw.png" alt=""></a>
                            <a href="https://facebook.com" class="social"><img src="img/Ico_fb.png" alt=""></a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-12" id="copy_footer">
                    <p class="copy">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
                </div>
            </div>
        </div>
</footer>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/script2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
